.navbar-center {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 25px;
    left: 0;
}

.navbar-button {
    position: absolute;
    z-index: 1;
}

.navbar-center:hover {
    text-decoration: none;
    color: black;
}

.navbar-inverse .navbar-brand.navbar-center {
    color: #8bc34a;
}

.sidenav {
    height: 100%;
    width: 250px;
    margin-left: -250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a.active {
    background-color: #BDBDBD;
    color: black;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closbtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
    padding-top: 60px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

