<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" id="searchCust">
            <div class="col-md-8">
                <div class="input-group">
                    <input type="text" class="form-control" id="custkey" value="" placeholder="Cari berdasarkan nama atau nomor telepon">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-sm" type="submit"><i class="ace-icon fa fa-search"></i></button>
                      </span>
                </div>
                <div class="table-overlays" id="listData">
                    <div class="list-group"></div>
                </div>  
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg" id="addcust">Tambah</button>
            </div>
        </div>
    </div>  
</div>

<div id="dialog-form" title="Pelanggan Baru">
    <p class="validateTips"></p>        
    <form>
        <fieldset>
            <label for="telp">No Telepon</label>
            <input type="text" name="telp" id="telp" value="" placeholder="No Telepon" class="text ui-widget-content ui-corner-all">
            <label for="name">Nama</label>
            <input type="text" name="name" id="name" value="" placeholder="Nama Pelanggan" class="text ui-widget-content ui-corner-all">
            <label for="email">Alamat</label>
            <input type="text" name="address" id="address" value="" placeholder="Alamat" class="text ui-widget-content ui-corner-all">
        
            <!-- Allow form submission with keyboard without duplicating the dialog button -->
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<script>
    jQuery(function ($) {   
        function customer(val) {
            apiData("Customer", { branch: branch, val: val }, function (res) {
                if (res.readyState === 0) { 
                    $("html body").find("#listData .list-group>a").remove();
                    $("html body").find("#listData .list-group").append('<div id="load" align="center"><span></span></div>');
                } else {
                    $("html body").find("#listData .list-group #load").remove();

                    listData(res.data, val);

                    $("html body").on("click", "#custSelected", function (e) {
                        let id = $(this).data('id');
    
                        let getCustomer = $.grep(res.data, e => e.id == id);
    
                        localStorage.setItem("dataCustomer", JSON.stringify(getCustomer[0]));
    
                        let url = "?menu=sale&id=" + id;
                        window.location = url;
                        e.preventDefault();
                    });
                }

            });
            
        }

        function listData(data, value) {    
            // let lists = data.filter(e  => e.telp.match(value) || (e.name.toLowerCase()).match(value.toLowerCase()));
            let content;
            $.each(data, function (i, val) {
                content = `<a href="#" class="list-group-item" id="custSelected" data-id="${val.id}"><h4 class="list-group-item-heading">${val.name}</h4><p class="list-group-item-text">${val.address}</p><b>${val.telp}</b><span class="badge">${val.status}</span></a>`;
                $("html body").find("#listData .list-group").append(content);
            });
        };

        $("html body").on("click", "#searchCust button[type=submit]", function () {
            let val = $("#custkey").val();
            customer(val);
        });

        let dialog,
            form, 
            telp = $( "#telp" ),
            name = $( "#name" ),
            address = $("#address"),
            allFields = $( [] ).add( telp ).add( name ).add( address );
            tips = $( ".validateTips" );

        function updateTips( t ) {
            tips
                .text( t )
                .addClass( "ui-state-highlight" );
            setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
            }, 500 );
        }

        function checkLength( o, n, min, max ) {
            if ( o.val().length > max || o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( "Panjang kolom " + n + " harus " +
                min + " dan " + max + "." );
                return false;
            } else {
                return true;
            }
        }

        function checkRegexp( o, regexp, n ) {
            let reg = new RegExp(regexp);
            if ( !( reg.test( o.val() ) ) ) {
                o.addClass( "ui-state-error" );
                updateTips( n );
                return false;
            } else {
                return true;
            }
        }

        function addUser() {
            var valid = true;
            allFields.removeClass( "ui-state-error" );

            valid = valid && checkLength( telp, "telp", 11, 13 );
            valid = valid && checkRegexp( telp, /^[0-9]*$/, "contoh. 081245454545" );
            valid = valid && checkLength( name, "nama", 3, 22 );
            valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Kolom nama belum diisi" );
            valid = valid && checkLength( address, "alamat", 5, "bebas" );
                
            if ( valid ) {
                let today = new Date;
                let dd = String(today.getDate()).padStart(2, '0');
                let mm = String(today.getMonth() + 1).padStart(2, '0');
                let yyyy = today.getFullYear();

                today = yyyy + '/' + mm + '/' + dd;
                let data = { 
                    telp : telp.val(), 
                    name : name.val(), 
                    address : address.val(), 
                    branch : branch,
                    dateInput :  today,
                    outlet : outlet,
                    userId : userId,                
                };
                saveCustomer(data, function (response) {
                    form[ 0 ].reset();
                    if (response.success === false) {
                        telp.addClass( "ui-state-error" );
                        alert(response.message);
                        return false
                    } else {
                        dialog.dialog("close");
                        customer();
                    }
                });  
                
            }
            return valid;
        }

        function saveCustomer(data, result) {      
            apiData("Customer/add", data, function (res) {
                if (res.readyState !== 0) {
                    result(res);
                }
            });
        }

        dialog = $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 'auto',
            width: 350,
            modal: true,
            buttons: {
                "Simpan": addUser,
                Cancel: function() {
                    dialog.dialog( "close" );
                }
            },
            close: function() {
                form[ 0 ].reset();
                allFields.removeClass( "ui-state-error" );
            }
        });

        form = dialog.find( "form" ).on( "submit", function( event ) {
            event.preventDefault();
            addUser();
        });

        $("html body").on("click", "#addcust", function () {
            dialog.dialog( "open" );
        });


        dataItem();
        function dataItem() {
            apiData("Items", { branch_id: branchId, outlet_id : outletId }, function (data) {
                if (data.readyState === 0) {
                    localStorage.removeItem("dataItem");
                } else {
                    localStorage.setItem("dataItem", JSON.stringify(data));
                }
            })
        }

    });

</script>